.footer{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.container {
  display: flex;
  background-color: #0f0f0f;
  padding: 110px 0 60px;
  justify-content: center;
}

.logoImg{
    width: 176px;
    height: 60px;
}

.contacts {
  width: 288px;
  height: 264px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.contactTitle {
  color: white;
  font-size: 20px;
  padding: 32px 0;
}

.contactInfo {
  color: #a3a3a3;
  display: flex;
  gap: 10px;
}

.icons {
  width: 20px;
  height: 20px;
  color: #a3a3a3;
}

.infoCompany {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 588px;
  height: 264px;
  gap: 45px;
}

.aboutCompany {
  color: #b1b0b0;
  width: 437px;
  height: 90px;
  
}

.containerIconsSocial {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.iconsSocial {
  color: white;
  width: 24px;
  height: 24px;
}

.linksContainer{
    width: 288px;
    height: 264px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.linksTitle{
    color: white;
    font-size: 20px;
    padding: 32px 0;
}

.links{
    display: flex;
    color: #b1b0b0;
}

.privacyContainer{
    display: flex;
    justify-content: center;
    background-color: #0f0f0f;
    padding: 30px;
}

.privacy{
    display: flex;
    justify-content: center;
    color: #b1b0b0;
    width: 1170px;
    height: 30px;
    padding: 15px;
}